<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="/javascripts/script.js"></script>
</head>
<body>
	<div></div>
</body>
</html>